
.section7{
    width: 100%;
    height: 600px;
   
    .bott1{
        width: 1228px;
        height: 442px;
        background: #E7F9FD;
        border-radius: 60px;
        margin-left: 130px;
       border-radius: 60px;
text-align: center;
margin-top: 50px;
h1{
font-size: 45px;
font-weight: 600;
line-height: 55px;
padding-top: 50px;
}p{
    padding-top: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}
.b{
width: 480px;
height: 80px;
background: #FFFFFF;
border-radius: 24px;
position: relative;
margin-top: 70px;
margin-left: 380px;
}input{
margin-top: 30px;
margin-right: 110px;
border: none;
}button{
padding: 22px 45px;
background: #000000;
border-radius: 16px;
color: white;
font-size: 14px;
font-weight: 600;
margin-left: 40px;
}
.im1{
border-radius: 60px;
margin-right: 850px;
margin-top: -270px;
position: relative;

}.im2{
border-radius: 60px;
margin-left: 270px;
margin-top: -245px;
position: absolute;
}




}


    
}