body{
    background-color: #f5f5f5;
}
.section4{
    display: flex;
    background-color: #f5f5f5;
    justify-content: center;
    margin-left: 100px;
    .section4-1{
        margin-right: 100px;
h1{
font-size: 50px;
font-weight: 600;
line-height: 50px;
font-family: sans-serif;
width: 556px;
height: 116px;
margin-top: 150px;
}p{
width: 408px;
height: 84px;
font-size: 16px;
font-weight: 400;
font-family: sans-serif;
margin-top: 4px;
}button{
padding: 15px 50px;
background: #000000;
border-radius: 16px;
color: white;
border: none;
margin-top: 50px;
}
    }.section4-2{
.people{

}.piyoz{
position: relative;top:-400px;right: 200px;

}.pomidor{
position: relative;top: -150px;right: -50px;
}.gosh{
position: relative;top: -500px;right: 0px;
}.ot{
position: relative;top: -400px;left: 450px;
}
    }
}